body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    margin: 0;
}

nav {
    width: 100%;
    background-color: #00bfff91;
    overflow: hidden;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo h1 {
    color: rgb(88, 88, 88);
    margin: 0;
}

.nav-links {
    list-style-type: none;
    margin: 30px;
    padding: 0;
    display: flex;
}

.nav-links li {
    padding: 10px 20px;
}

.nav-links li a {
    color: rgb(95, 95, 95);
    text-align: center;
    text-decoration: none;
    display: block;
}

.nav-links li a:hover {
    background-color: #467e88;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 20px;
    width: 80%;
    max-width: 600px;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button:active {
    background-color: #004494;
    transform: scale(1);
}

#result, #analytics-result {
    margin-top: 20px;
}
